<div class="side-nav">
  <mat-list>
    <mat-list-item>
      <h2 class="mat-title">
        Menu
      </h2>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/doctor/visits" routerLinkActive="active">
        My visits
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/doctor/diseases" routerLinkActive="active">
        Diseases
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/doctor/diagnoses" routerLinkActive="active">
        Diagnoses
      </a>
    </mat-list-item>
  </mat-list>
</div>
