<ng-container [ngSwitch]="screenView">
  <ng-container *ngSwitchCase="screenViews.Init">
    <form [formGroup]="form" class="visit-form" (submit)="submitForm($event)">
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input formControlName="note" matInput placeholder="Ex. SARS-CoV-2">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Disease</mat-label>
        <mat-select (selectionChange)="changeSelectDiseaseId($event)" [value]="form.value.diseaseId">
          <mat-option *ngFor="let disease of (diseases | async)" [value]="disease.id">
            ({{disease.id}}) {{disease.name}} — {{disease.contagious}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Visit</mat-label>
        <mat-select (selectionChange)="changeSelectVisitId($event)" [value]="id" disabled>
          <mat-option *ngFor="let visit of (visits | async)" [value]="visit.id">
            ({{visit.id}}) {{visit.note}} @ {{visit.date | date}} — {{visit.status}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </ng-container>

  <ng-container *ngSwitchCase="screenViews.Pending">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-container *ngSwitchCase="screenViews.Success">
    <p class="visit-form-copy">
      Diagnosis was added to the visit
    </p>
    <div class="visit-form-controls">
      <!-- <button mat-raised-button color="primary" (click)="refresh()">Create one more</button> -->
      <a mat-raised-button color="accent" href="/doctor/visits">Go back to visits list</a>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="screenViews.Failed">
    <p class="visit-form-copy">
      Failed creating / edited visit
    </p>
    <div class="visit-form-controls">
      <button mat-raised-button color="primary" (click)="refresh()">Try again</button>
      <a mat-raised-button color="accent" href="/doctor/visits">Go back to visits list</a>
    </div>
  </ng-container>
</ng-container>
