<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="app-sidenav" mode="side">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <div class="app-content">
    <app-topbar (drawerChange)="drawer.toggle()"></app-topbar>
    <div class="container app-router-outlet-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
