<div class="diseases-table">
  <div class="diseases-table_controls">
    <button mat-stroked-button color="primary" (click)="refresh()">Refresh</button>
    <a mat-stroked-button color="primary" href="/doctor/diseases/create">Create new</a>
  </div>

  <ng-container [ngSwitch]="dataStatus | async">
    <ng-container *ngSwitchDefault>
      <p>Some error has occurred</p>
      <button mat-stroked-button color="secondary" (click)="refresh()">Try again</button>
    </ng-container>
    <ng-container *ngSwitchCase="apiStatusEnum.Pending">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngSwitchCase="apiStatusEnum.Success">
      <table mat-table matSort [dataSource]="dataSource" class="diseases-table_table mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="contagious">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contagious </th>
          <td mat-cell *matCellDef="let element"> {{element.contagious}} </td>
        </ng-container>

        <ng-container matColumnDef="controls">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="diseases-table_table_controls"> Controls </th>
          <td mat-cell *matCellDef="let element" class="diseases-table_table_controls">
            <a [href]="'/doctor/diseases/edit/' + element.id" mat-icon-button color="primary">
              <mat-icon>mode</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
  </ng-container>
</div>
