.visits-table {
  width: 100%;

  & > .visits-table_controls {
    margin-bottom: 32px;
    & > * {
      margin-right: 16px;
    }
  }

  & > .visits-table_table {
    width: 100%;

    .visits-table_table_controls {
      text-align: right;

      & > * {
        margin-left: 16px;
      }
    }
  }
}
